<div class="block-credenciales-container">
    {{#has_credential}}
        <div class="credential-card mini">
            <div class="card-header">
                <span class="icon">🎓</span>
                <h4>{{#str}}certificate_for, block_credenciales{{/str}} {{course_name}}</h4>
            </div>
            <div class="card-body">
                {{^is_modal}}
                    <div class="qr-code-mini">
                        <img src="{{qr_code}}" alt="QR Code">
                    </div>
                {{/is_modal}}
                
                {{#is_modal}}
                    <button id="view-certificate-btn" class="btn btn-primary btn-block premium-btn">
                        <i class="fa fa-eye"></i> {{#str}}view_certificate, block_credenciales{{/str}}
                    </button>
                {{/is_modal}}

                <div class="meta-info">
                    <small>{{#str}}issued_on, block_credenciales{{/str}}: {{date}}</small>
                </div>
            </div>
        </div>
    {{/has_credential}}

    {{^has_credential}}
        <div class="credential-card empty">
            <div class="icon-large">🏆</div>
            <p>{{message}}</p>
        </div>
    {{/has_credential}}

    <div class="dashboard-link">
        <a href="{{dashboard_url}}">{{#str}}my_certificates, block_credenciales{{/str}} <i class="fa fa-arrow-right"></i></a>
    </div>
</div>
